.info-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1px;
    
}


.info-text-1 {
    margin-bottom: 0px;
    border-right: 1px solid white;
    padding-right: 5px;
}

.info-text-2 {
    margin-bottom: 0px;
    border-left: 1px solid white;
    padding-left: 5px;
}

.info {
    background-color: #2dc2ac;
    color: white;
}